body {
    background:#008000;
}
h1 {
    color: #b0f1fc;
}
.Welcome{
    color:#dc9d17;
    font-size:40px;
}

div {
    display: inline-block;
    width: 40rem;
    height:100rem;
}
.white{
    position: absolute;
    background: white;
    width:100%;
    left: 100%;
}
.container {
  width: 800px;
}
