body {
    background:#87c487;
}
h1 {
    color: #ffffff;
}

div {
    display: inline-block;
    width: 50rem;
    height:50rem;
}
.white{
position: absolute;
    background: white;
    width:70%;
    left: 15%;
}
