body {
    background:#87c487;
}
h1 {
    color: #ffffff;
}

div {
    display: inline-block;
    width: 200rem;
    height:200rem;
}
.white{
position: absolute;
    background: white;
    width:70%;
    left: 15%;
}
img{
    display: block;
    width: 50%;
    height: 50%;
    
}